<!-- 
<div class="card-body">
  <h3 class="card-title">{{post.title}}</h3>
  <p class="card-text">{{post.content}}</p>

  
  <button type="button" class="btn btn-primary btn-sm btn-danger" (click)="delete()">Delete Post</button>
  <button type="button" class="btn  btn-sm btn-outline-danger ml-2" (click)="addLike()">Like</button>
  <span class="ml-2" style="color:coral">{{post.likep}}</span>
  <button type="button" class="btn  btn-sm btn-outline-danger ml-2 " (click)="disLike()">Dislike</button>

  <small class="text-muted px-4">{{post.date}}</small>
</div> -->

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<div class="card-body" style="background-color:lightgray">
    <h1 class="card-title" style="font-size: large;">{{post.title}}</h1>
    <p class="card-text" style="font-size: medium;">{{post.content}}</p>


       <div> <span class="badge">{{post.date}}</span>
        <div class="pull-right">
          <button type="button" class="label label-danger" (click)="addLike()" style="font-size: small;">Like</button>
          <span class="ml-2" style="font-size: small; color: brown;">{{post.likep}}</span>
          <button type="button" class="label label-success " (click)="disLike()" style="font-size: small;"> Dislike</button>
          <button type="button" class="label label-warning" (click)="delete()" style="font-size: small;">Delete Post</button>

        </div>
      
      </div>

<!--     <div>
      <span class="badge">Posted 2012-08-02 20:47:04</span><div class="pull-right"><span class="label label-default">alice</span> <span class="label label-primary">story</span> <span class="label label-success">blog</span> <span class="label label-info">personal</span> <span class="label label-warning">Warning</span>
<span class="label label-danger">Danger</span></div>
  </div>   -->
    <hr>
  </div>


